.card-user .user-ava {
  margin-top: -2rem;
  padding-left: .75rem;
}

.card-user .username {
  padding: .25rem 1rem;
  margin-left: -5px;
  border-radius: 0 50rem 50rem 0;
  background-color: #f8f9fa;
}

