.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.btn:hover {
  color: #212529;
}

.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.15rem rgba(13, 110, 253, 0.25);
}

.btn:disabled, 
.btn.disabled, 
fieldset:disabled .btn {
  pointer-events: none;
  opacity: 0.65;
}

// Primary
.btn-primary {
  color: #0d6efd;
  border-color: #0d6efd;
}
.btn-primary:hover {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.btn-primary:disabled, 
.btn-primary.disabled {
  color: #0d6efd;
  background-color: transparent;
}
// END Primary

// Gray
.btn-gray {
  color: #6c757d;
  border-color: #6c757d;
}
.btn-gray:hover {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.btn-gray:focus {
  box-shadow: 0 0 0 0.25rem rgba(108, 117, 125, 0.5);
}
 
.btn-gray:active, 
.btn-gray.active {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.btn-gray:active:focus, 
.btn-gray.active:focus {
  box-shadow: 0 0 0 0.25rem rgba(108, 117, 125, 0.5);
}
.btn-gray:disabled, 
.btn-gray.disabled {
  color: #6c757d;
  background-color: transparent;
}
// END 

.btn > svg {
  display: inline-block;
  vertical-align: -0.125em;
}