:root {
  --q-blue: #0d6efd;
  --q-indigo: #6610f2;
  --q-purple: #6f42c1;
  --q-pink: #d63384;
  --q-red: #dc3545;
  --q-orange: #fd7e14;
  --q-yellow: #ffc107;
  --q-green: #198754;
  --q-teal: #20c997;
  --q-cyan: #0dcaf0;
  --q-white: #fff;
  --q-gray: #6c757d;
  --q-gray-dark: #343a40;
  --q-gray-100: #f8f9fa;
  --q-gray-200: #e9ecef;
  --q-gray-300: #dee2e6;
  --q-gray-400: #ced4da;
  --q-gray-500: #adb5bd;
  --q-gray-600: #6c757d;
  --q-gray-700: #495057;
  --q-gray-800: #343a40;
  --q-gray-900: #212529;
  --q-primary: #0d6efd;
  --q-secondary: #6c757d;
  --q-success: #198754;
  --q-info: #0dcaf0;
  --q-warning: #ffc107;
  --q-danger: #dc3545;
  --q-light: #f8f9fa;
  --q-dark: #212529;
  --q-primary-rgb: 13, 110, 253;
  --q-secondary-rgb: 108, 117, 125;
  --q-success-rgb: 25, 135, 84;
  --q-info-rgb: 13, 202, 240;
  --q-warning-rgb: 255, 193, 7;
  --q-danger-rgb: 220, 53, 69;
  --q-light-rgb: 248, 249, 250;
  --q-dark-rgb: 33, 37, 41;
  --q-white-rgb: 255, 255, 255;
  --q-black-rgb: 0, 0, 0;
  --q-body-color-rgb: 33, 37, 41;
  --q-body-bg-rgb: 255, 255, 255;
  --q-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --q-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --q-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --q-body-font-family: var(--q-font-sans-serif);
  --q-body-font-size: 1rem;
  --q-body-font-weight: 400;
  --q-body-line-height: 1.5;
  --q-body-color: #212529;
  --q-body-bg: #fff;
}
